  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img [src]="">
      </ion-avatar>
      <ion-note float-right>
        {{Post.createdDate | dateAge}}
      </ion-note>
      <h2>spencer hehl</h2>
    </ion-item>
    <ion-card-content [ngSwitch]="Post.content.type">
      <img *ngSwitchCase="'media'" [src]="Post?.content.body">
      <p *ngSwitchDefault>{{Post.content.body}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-lef clear small (click)="LikePost(Post._id)" [color]="likeColor">
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{Post.numLikes}} Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small (click)="ViewComments(Post)" color="dark">
          <ion-icon name="text"></ion-icon>
          <div>{{Post.numComments}} Comments</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>