  <ion-card [hidden]="Post.isFlagged">
    <ion-item>
      <ion-avatar item-start>
        <img [src]="Post.poster?.profilePicture" (click)="viewProfile()">
      </ion-avatar>
      <ion-note float-right>
        {{Post.createdDate | dateAge}}
      </ion-note>
      <h2 (click)="viewProfile()">{{Post.poster?.fullName}}</h2>
      <ion-buttons item-end>
          <button ion-button (click)="viewMore()" clear><ion-icon name="more"></ion-icon></button>
      </ion-buttons>
    </ion-item>
    <ion-card-content>
      <img *ngIf="Post.content.contentType == 'photo'" [src]="Post?.content.img">
      <p>{{Post.content.body}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-lef clear small (click)="likePost(Post._id)" [color]="likeColor">
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{Post.numLikes}} Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small (click)="viewComments(Post)" color="dark">
          <ion-icon name="text"></ion-icon>
          <div>{{Post.numComments}} Comments</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>