<ion-header>
    <ion-navbar>
    </ion-navbar>
</ion-header>

<ion-content>
    <post-card [Post]="post" (reportEmitter)="reportPost($event)" (deleteEmitter)="deletePost($event)"></post-card>
    <ion-row>
        <ion-col *ngFor="let comment of comments; let i = index">
            <comment-card [Comment]="comment"></comment-card>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-card>
            <ion-item>
                <ion-avatar item-start>
                    <img [src]="authService.mongoUser?.profilePicture">
                </ion-avatar>
            </ion-item>
            <ion-card-content>
                <img *ngIf="newCommentImg && newCommentImg != ''" [src]="newCommentImg">
                <form autocomplete="off" (ngSubmit)="submitComment(createCommentForm.value); createCommentForm.reset();" #createCommentForm="ngForm">
                    <ion-item>
                        <ion-input type="text" placeholder="Comment.." name="comment" (ngModel)="comment"></ion-input>
                        <ion-buttons item-end>
                            <button ion-button (click)="takePhoto()"><ion-icon name="camera"></ion-icon></button>
                            <button ion-button type="submit"><ion-icon name="send"></ion-icon></button>
                        </ion-buttons>
                    </ion-item>
                </form>
            </ion-card-content>
        </ion-card>
    </ion-row>
</ion-content>