  <ion-card>
    <ion-item>
      {{Thread.Title}}
      <button float-right ion-button clear icon-left [color]="favoriteColor" (click)="FavoriteThread(Thread.ID)"><ion-icon name="star"></ion-icon>{{Thread.NumFavorites}} Favorites</button>
    </ion-item>
    <ion-row>
      <ion-col>
        <button ion-button clear icon-left [color]="likeColor" (click)="LikeThread(Thread.ID)"><ion-icon name="thumbs-up"></ion-icon>{{Thread.NumLikes}} Likes</button>
      </ion-col>
      <ion-col>
        <button ion-button clear icon-left color="dark" (click)="ViewThread(Thread)"><ion-icon name="text"></ion-icon>{{Thread.NumPosts}} Posts</button>
      </ion-col>
    </ion-row>
  </ion-card>