  <ion-card>
    <ion-card-header text-uppercase>
      {{Location.Name}}
      <h1 [hidden]="!isFavorite"><ion-icon name="star"></ion-icon>Favorited</h1>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col text-center>
          <button ion-button large (click)="viewLocation(Location)" small>
            <ion-icon name="eye" padding-right></ion-icon>
            <label style="font-weight: bold">View</label>
          </button>
        </ion-col>
        <ion-col text-center>
          <button ion-button large (click)="navigateLocation(Location.LatLon)" small>
            <ion-icon name="navigate" padding-right></ion-icon>
            <label>Navigate</label>
          </button>
        </ion-col>
      </ion-row>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <ion-note>
          {{Location.ActiveThreads}} Threads
        </ion-note>
      </ion-col>
      <ion-col>
        <ion-note float-right>
          {{Location.LastVisitDays}} Ago
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>