<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="myProfile()" *ngIf="authService.isAuthenticated()">{{authService.currentUser.firstName}} {{authService.currentUser.lastName}}</button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button (click)="login()" *ngIf="!authService.isAuthenticated()">Login</button>
      <button ion-button (click)="settings()" *ngIf="authService.isAuthenticated()" icon-right><ion-icon name="settings"></ion-icon>Settings</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: #cbd3db">
</ion-content>
