<ion-header>
  <ion-navbar>
    <ion-title>
      {{CurrentThread.title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: #cbd3db">
  <div *ngFor="let Post of ThreadPosts">
    <post-card [Post]="Post" (viewThisPost)="viewPost($event)" (likeThisPost)="likePost($event)"></post-card>
  </div>
  <ion-fab right bottom>
    <button ion-fab><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="postComment(CurrentThread._id)" [hidden]="postMode == 'readOnly'"><ion-icon name="text"></ion-icon></button>
      <button ion-fab (click)="postMedia(CurrentThread._id)" [hidden]="postMode == 'readOnly'"><ion-icon name="camera"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>